
 .header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}



.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
 .header-logo{
     display: flex;
     align-items: center;
     gap: 5px;
 }
.logo {
    width: 61.25px;
    height: 62.85px;
    border-radius: 50%;
     background: #B7ECB1;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 13px;
     font-weight: 800;
    color: #fff;
    letter-spacing: -0.5px;
    line-height: 1.1;
}
.logo-span {
    max-width: 155px;
  font-size: 10px;
  font-weight: 500;
  color: #1C1E23;
  text-transform: uppercase;
  margin-top: 4px;
  letter-spacing: 0.5px;
   &:hover {
    color: #55A630;
}
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 55px;
}

.logo-phone {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;
  color: #424242;
  &:hover {
    color: #55A630;
}
}

.phone-span {
 font-size: 22px;
 color: #55A630;
}

.facebooks {
  display: flex;
  gap: 12px;
}

.facebook {
  width: 36px;
  height: 36px;
  background-color: #55A630;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
  }

.header-actions {
    display: flex;
    align-items: center;
    gap: 3px;
}

.select {
    padding: 8px ;
    border: none;
    cursor: pointer;
    background: none;
    
}

hr {
    max-width: 100%;
   border: 0;
   height: 1px;
   border: 1px solid #55A63080;
   margin-top: 18px;
   margin-bottom: 18px;
}

.header-nav {
  padding: 12px 0;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #424242;
  padding: 8px 12px;
  border-radius: 8px;
  transition: var(--transition);
}
.header-link:hover {
    color: #55A630;
}
